.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "nav"
        "header"
        "section" 
        "footer";
}

nav { 
    grid-area: nav;
    position: sticky;
    top: 0;
    background-color: rgb(81, 51, 164);
    color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 8px 11px 1px rgba(1, 1, 1, 0.25);
    padding: 0 15px;
}

header { 
    grid-area: header;
    background-color: #2c323c;
    background-image: url(https://d33wubrfki0l68.cloudfront.net/4de356f6ddb204ae047d4fe8bfadd690d4d0b2fe/00972/assets/images/geometry.svg);
    background-repeat: repeat;
    color: #fff;
    min-height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

section { 
    grid-area: section;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-top: 35px;
}

article {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    margin: 25px;
}

img {
    max-height: 100%;
    width: auto;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
}

img:active {
    transform: scale(0.95);
}

footer { 
    grid-area: footer; 
    color: white;
    background-color: rgb(81, 56, 161);
    padding-left: 15px;
}